@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-inter);
}
   
h3 {
    font-family: var(--font-raleway);
}


div#githubIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    transition: transform 0.6s ease; /* Apply a transition for the transform property */
}

div#githubIcon:hover {
    transform: rotate(360deg); /* Rotate the icon 360 degrees on hover */
}