@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');

div#githubIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    transition: transform 0.6s ease; /* Apply a transition for the transform property */
}

div#githubIcon:hover {
    transform: rotate(360deg); /* Rotate the icon 360 degrees on hover */
}