@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color:azure;
    height: 100%;
    background-image: url("../public/desk.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x: center;
    background-attachment: fixed;
}

.lineafter::after {
    position: absolute;
    top: 60%;
    display: inline-block;
    content: "";
    border-top: 2px solid azure;
    width: 4rem;
    margin: 0 1rem;
}

@media (min-width: 768px) {
    .imageHolder {
        margin: auto 0;
    }
    .myhead {
        position: static;
        min-width: 90%;
        display: block;
    }
}